.nav-container {  z-index: 4; float: left;}
.sf-menu {}
.sf-menu > li {
  float: left;
  text-align: left;
  position: relative;
  border-right: 1px solid #e8e8e8;
  padding: 0 28px 0 0;
  margin-right: 28px;
  z-index: 99;
}
.sf-menu > li.last{ padding-right: 0; margin-right: 0; border-right: none;}
.sf-menu li a {
  display: block;
  color: #383737;
  text-decoration: none;
  position: relative;
  padding: 0;
  text-transform: uppercase;
}
.sf-menu > li > a > span {
  display: block;
  font-size: 13px;
  line-height: 13px;
  text-transform: uppercase;
  cursor: pointer;
  white-space: nowrap;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.sf-menu li ul a span {  white-space: normal;}
/*.sf-menu > li.parent > a:before { content: "\f103"; position: absolute; bottom: -20px; width: 100%; text-align: center;}*/

.sf-menu > li.sfHover > a,
.sf-menu> li > a:hover,
.sf-menu > li.active > a {color: #c5c5c5;}

.sf-menu li a:hover {  text-decoration: none;}

.sf-menu ul {
  position: absolute;
  top: -999em;
  z-index: 99;
  width: 250px;
  display: none;
  background: #1f1f1f;
  box-shadow:0 4px 8px rgba(0,0,0,0.12);
  -moz-box-shadow:0 4px 8px rgba(0,0,0,0.12);
  -webkit-box-shadow:0 4px 8px rgba(0,0,0,0.12);
}
.sf-menu li li {  border-bottom-width: 0;}
.sf-menu li li.parent > a:before { content: "\f101"; float: right; }
.sf-menu li li.first {  padding-top: 30px;}
.sf-menu li li.last {  padding-bottom: 30px;}
.sf-menu li li {  position: relative; float: none;}
.sf-menu li li a {
  display:block;
  background: none;
  font-size: 12px;
  line-height: 15px;
  color: #7a7a7a;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  padding:6px 30px;
  text-transform: uppercase;
}
.sf-menu li li > a:hover,
.sf-menu li li.sfHover > a,
.sf-menu li li.active > a {  color: #fff;}

.sf-menu ul ul {
  position: absolute;
  top: -999em;
  z-index: 99;
  width: 192px;
}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
  left: 0px;
  top: 47px;
  /* match top ul list item height */
}

ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
  top: -999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
  left: 193px;
  /* match ul width */
  top: 0;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
  top: -999em;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
  left: 193px;
  /* match ul width */
  top: 0;
}
@media only screen and (min-width: 992px) {
    #menu-icon,
    .sf-menu-phone,
    .sf-menu-block {  display: none !important;}

}
@media only screen and (max-width: 991px) {
  .sf-menu,
  .sf-menu-phone {display: none;}
  /* menu icon */
 .sf-menu-block {display: block;}
  #menu-icon {
    display: block;
    font-size: 13px;
    line-height: 21px;
    cursor: pointer;
    text-transform: uppercase;
    padding: 0 20px 0 10px;

  }
  #menu-icon:before {content: "\f055"; font-size: 25px; line-height: 25px; float: left; padding-right: 10px; }
  #menu-icon.active:before { content: "\f056"; }

  .sf-menu-phone {
    background: #1f1f1f;
    border-top: 0;
    position: absolute;
    margin-top: 20px;
    z-index: 2;
    width: 100%;
    moz-box-sizing:border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .sf-menu-phone li {  position: relative;   }
  .sf-menu-phone > li { padding: 4px 20px; font-size: 12px; text-transform: uppercase; }
  .sf-menu-phone > li.first { padding-top: 20px;}
  .sf-menu-phone > li.last {padding-bottom: 20px;}
  .sf-menu-phone li a { display: block;  color: #7a7a7a;  }
  .sf-menu-phone li a:hover { color: #fff; }
  .sf-menu-phone li li {font-size: 13px; padding: 4px 8px; }
  .sf-menu-phone li li.last {padding-bottom: 10px;}
  .sf-menu-phone li li:first-child {padding-top: 10px;}
  .sf-menu-phone li li:first-child strong {top:10px;}
  .sf-menu-phone li strong {
    position: absolute;
    display: block;
    top: 4px;
    right: 5px;
    width: 24px;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
  }
  .sf-menu-phone > li > strong {top: 2px; right: 18px; font-size: 20px; line-height: 20px;}
  .sf-menu-phone li strong:hover { cursor: pointer; }
  .sf-menu-phone li strong:before {content: "\f067"; color: #fff; font-size: 14px; line-height: 14px; }
  .sf-menu-phone li strong.opened:before { content: "\f068"; }

  /* dropdown */
  .sf-menu-phone ul {  width: auto; margin:10px 0 0 0 ;  display: none;  }
  .sf-menu-phone > li.active > a > span {color: inherit;}

  .sf-menu-phone > li.active > a,
  .sf-menu-phone > li > a:hover {  }

  .sf-menu-phone li li.active > a,
  .sf-menu-phone li li a:hover {}
}
@media only screen and (max-width: 767px) {
}
